
.information-div{

    border-radius: 10px;
    padding: 10px;
    font-size: x-small;
    margin-bottom: 20px;
}
.colour-green{

    background-color: #dbfffd;
    color: #2a9694;

}

.colour-red{

    background-color: #EA38291A;
    color: red;
}