.user-table-row{
  font-size: medium;
  font-weight: bold;
}

.span-link{
  color: #007bff; /* Color azul típico de los enlaces */
  text-decoration: underline; /* Línea subrayada */
  cursor: pointer;
}

