

.container{
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //Revisar como puedo acaparar todo el root
    height: 100%;

    .pinky-logo{
        margin-top: 60px;
        width: 250px;
        height: 60px;
    }
    label{
        color: black !important;
    }
}
