

.container.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;

    //Revisar como puedo acaparar todo el root
    height: 100%;

    & > .container {
        width: 100%;
        padding: 0;
        background-color: transparent;
        justify-content: flex-start;
    }

    .form-container {
        border-radius: 24px;
        border: 1px solid #E1E4E7;
        background: #FFF; 
        width: 100%;
        max-width: 512px;
        padding: 2.5rem 4rem;
        margin: 0 auto;
        .form-row {
            margin-bottom: 1.5rem;
        }

        .links {
            margin-top: 2.5rem;
            padding-top: 2rem;
            border-top: 1px solid #E1E4E7;
        }

        h4 {
            margin: 0px auto 2rem;
            font-size: 1.25rem;
        }
    }

    .pinky-logo{
        padding: 60px 0;
        width: 240px;
    }
    label{
        color: black !important;
    }
}
