.button-container {
  border-radius: 12px;
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 1rem 1.5rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  cursor: pointer;
  &.btn-success {
    background-color: rgba(15, 181, 174, 1);
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #1B959A;
    }
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #16878C;
    }
  }
  &.btn-success-outline {
    background-color: rgba(159, 225, 223, 1);
    &:hover,
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #9FE1DF;
    }
  }
  &.btn-danger {
    background-color: #DE3D82;
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #CE2783;
    }
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #BC1C74;
    }
  }
  &.btn-danger-outline {
    background-color: #F2B1CD;
    &:hover,
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #F2B1CD;
    }
  }
  &.btn-discard{
    background-color: #687888;
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #53606D;
    }
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #3E4852;
    }
  }
  &.btn-neutral{
    background-color: #F0F2F3;
    color: #3E4852;
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #53606D;
      color: #fff;
    }
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #3E4852;
      color: #fff;
    }
  }
  &.btn-new{
    border-radius: 6px !important;
    background-color: #fff;
    color: #3892F3;
    border: 1px solid #3892F3;
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0.25rem 0.5rem;
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #3892F3;
      color: #fff;
    }
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #3892F3;
      color: #fff;
    }
  }
  &.btn-discard-outline{
    background-color: #C3C9CF;
    &:hover,
    &:focus {
      transition: all 0.3s ease-in-out;
      background-color: #C3C9CF;
    }
  }

  &.btn-large {
    justify-content: space-between;
    width: 360px;
  }
  &.btn-medium {
    justify-content: space-between;
    border-radius: 12px;
  }
  @media only screen and (max-width: 55em) {
    &.btn-large {
      display: flex;
      gap: 1rem;
      width: fit-content;
    }
  }
}
