.container-information {
  background: #ffffff;
  border: 1px solid #e1e4e7;
  border-radius: 16px;
  display: flex !important;
  padding: 16px 8px 8px;
  & .container-general-overview {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    div {
      display: flex;
      padding-left: 8px;
      p {
        max-width: 145px;
        margin: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  .resources {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 14rem;
    justify-content: space-between;
    div {
      .divImageContainer{
        height: 12rem;
        position: relative;
        .imageResources{
          height: 10rem;
        }
      }
      .divImageContainer1{
        height: 12rem;
        position: relative;
        .imageResources{
          height: 10rem;
        }
      }
      .divImageContainer1::before{
        content: "";
        position: absolute;
      }
      .divImageContainer::after{
        content: "";
        position: absolute;
        
      }
      p {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-right: auto;
      }
    }
    // body {
    //   margin: 20px;
    //   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    //     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    //     sans-serif;
    //   -webkit-font-smoothing: antialiased;
    //   -moz-osx-font-smoothing: grayscale;
    // }
    // code {
    //   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    //     monospace;
    // }
    .box {
      width: 100%;
    }
    .box .steps .nav {
      overflow: hidden;
      padding-right: 2rem;
      display: flex;
      flex-wrap: nowrap;
      margin: 0;
      justify-content: space-between;
      position: static;
      gap: initial;
    }

    .box .steps .nav li:first-child {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzMyIiBoZWlnaHQ9IjIxNiIgdmlld0JveD0iMCAwIDMzMiAyMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wIDE2QzAgNy4xNjM0NSA3LjE2MzQ0IDAgMTYgMEwyODAuODY0IDBDMjg3LjU1NyAwIDI5My41NDMgNC4xNjYzMiAyOTUuODY4IDEwLjQ0M0wzMzIgMTA4TDI5NS44NjggMjA1LjU1N0MyOTMuNTQzIDIxMS44MzQgMjg3LjU1NyAyMTYgMjgwLjg2NCAyMTZIMTZDNy4xNjM0NSAyMTYgMCAyMDguODM3IDAgMjAwVjE2WiIgZmlsbD0iIzBGQjVBRSIvPgo8L3N2Zz4K");
      margin-right: -55px;
      > div {
        padding: 16px 60px 16px 24px;
      }
    }

    .box .steps .nav li {
      width: 100%;
      height: auto;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUzIiBoZWlnaHQ9IjIxNiIgdmlld0JveD0iMCAwIDM1MyAyMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNy40Njg5IDEwOC4xNzRMMzcuNTMzMiAxMDhMMzcuNDY4OSAxMDcuODI2TDEuNDYwOTIgMTAuNjA0OUMtMC4zNTMzMTYgNS43MDY0MyAzLjI3MDQzIDAuNSA4LjQ5NDAzIDAuNUgzMDEuODY0QzMwOC4zNDggMC41IDMxNC4xNDcgNC41MzYxMiAzMTYuMzk5IDEwLjYxNjZMMzUyLjQ2NyAxMDhMMzE2LjM5OSAyMDUuMzgzQzMxNC4xNDcgMjExLjQ2NCAzMDguMzQ4IDIxNS41IDMwMS44NjQgMjE1LjVIOC40OTQwMkMzLjI3MDQyIDIxNS41IC0wLjM1MzMxNiAyMTAuMjk0IDEuNDYwOTIgMjA1LjM5NUwzNy40Njg5IDEwOC4xNzRaIiBmaWxsPSJ3aGl0ZSIgc3Ryb2tlPSIjRTFFNEU3Ii8+Cjwvc3ZnPgo=");
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: -35px;
      padding-bottom: 5px;
    }

    .box .steps .nav li:first-child.active, .box .steps .nav li:first-child.done {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMzU2IDIxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAgMTZDMCA3LjE2MzQ1IDcuMTYzNDQgMCAxNiAwTDI4MC44NjQgMEMyODcuNTU3IDAgMjkzLjU0MyA0LjE2NjMyIDI5NS44NjggMTAuNDQzTDMzMiAxMDhMMjk1Ljg2OCAyMDUuNTU3QzI5My41NDMgMjExLjgzNCAyODcuNTU3IDIxNiAyODAuODY0IDIxNkgxNkM3LjE2MzQ1IDIxNiAwIDIwOC44MzcgMCAyMDBWMTZaIiBmaWxsPSIjMEZCNUFFIi8+Cjwvc3ZnPgo=");
    }

    .box .steps .nav li.active, .box .steps .nav li.done {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUzIiBoZWlnaHQ9IjIxNiIgdmlld0JveD0iMCAwIDM1MyAyMTYiIGZpbGw9IiMwRkI1QUUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0zNy40Njg5IDEwOC4xNzRMMzcuNTMzMiAxMDhMMzcuNDY4OSAxMDcuODI2TDEuNDYwOTIgMTAuNjA0OUMtMC4zNTMzMTYgNS43MDY0MyAzLjI3MDQzIDAuNSA4LjQ5NDAzIDAuNUgzMDEuODY0QzMwOC4zNDggMC41IDMxNC4xNDcgNC41MzYxMiAzMTYuMzk5IDEwLjYxNjZMMzUyLjQ2NyAxMDhMMzE2LjM5OSAyMDUuMzgzQzMxNC4xNDcgMjExLjQ2NCAzMDguMzQ4IDIxNS41IDMwMS44NjQgMjE1LjVIOC40OTQwMkMzLjI3MDQyIDIxNS41IC0wLjM1MzMxNiAyMTAuMjk0IDEuNDYwOTIgMjA1LjM5NUwzNy40Njg5IDEwOC4xNzRaIiBmaWxsPSIjMEZCNUFFIiBzdHJva2U9IiMwRkI1QUUiLz4KPC9zdmc+Cg==");
      div {
        color: #fff;
      }
      & .button-container.btn-danger {
        background-color: #fff;
        color: #0FB5AE;
      }
    }

    .box .steps .nav li div {
      color: #3E4852;
      padding: 16px 40px 16px 60px;
      position: relative;
      font-family: Sora;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      height: 100%;
    }
    .box .steps .nav li div span {
      font-size: 1em;
    }
    /*.box .steps .nav li div::before {
      content: " ";
      border-top: 50px solid transparent;
      border-bottom: 100px solid transparent;
      border-left: 30px solid #ddd;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 1;
      margin-left: 1px;
    }
    .box .steps .nav li div::after {
      content: " ";
      border-top: 50px solid transparent;
      border-bottom: 100px solid transparent;
      border-left: 30px solid #f5f5f5;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 100%;
      z-index: 2;
    }*/
    //tonos activo
    /*.box .steps .nav li.done div {
      border-color: #0FB5AE !important;
      color: #fff !important;
      background: #0FB5AE !important;
      border-radius: 16px;
    }
    .box .steps .nav li.done div::after {
      border-left: 50px solid #0FB5AE;
    }
    //tonalidades en blanco
    /*.box .steps .nav li.active div {
      border-color: #fff !important;
      color: #3E4852 !important;
      background: #fff !important;
    }
    .box .steps .nav li.active div::after {
      border-left: 50px solid #fff;
    }
    */
    .box .step-component {
      padding: 20px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .box .btn-component {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
    p {
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 24px;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #3e4852;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-decoration-line: underline;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #3892f3;
    }
  }
  @media only screen and (max-width: 55em) {
    & {
      display: flex;
      flex-direction: column;
      .container-general-overview {
        margin: 0;
        div {
          padding-left: 0;
        }
      }
      .resources {
        div {
          p {
            font-size: 12px;
            line-height: 10px;
          }
        }
        p {
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #3e4852;
        }
        a {
          font-weight: 400;
          font-size: 12px;
          line-height: 10px;
          text-decoration-line: underline;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #3892f3;
        }
      }
    }
  }
}
