.partner-account {
  .section-style {
    border-bottom: 0px;
  }
  h4 {
    margin: 1.5rem auto;
  }
}
.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  
    .form-group {
      flex: 1;

      &.login{
        margin: 7px 7%;
      }
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &.half-width {
        flex: 0.5;
      }
  
      &.quarter-width {
        flex: 0.25;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.875rem;
        color: #A4AEB8;
        font-family: 'Sora', sans-serif;
      }
  
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #C3C9CF;
        font-size: 1rem;
        padding: 1rem;

        
  
        &::placeholder {
          color: #A4AEB8;
          font-size: 1rem;
        }
        //verificar por que en el focus no funciona
        &:focus{
            border-color: #2680EB !important;
            box-shadow: 
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3;
        }
        &:focus-visible {
          outline: none;
      }
        &:hover{
          border-color: #2680EB !important;
       }
    
      }

      .input-error {
        border-color: #ea3829 !important;
        box-shadow: 
          0 0 5px #ffcccb, 
          0 0 5px #f08080,
          0 0 5px #ffcccb,
          0 0 5px #f08080;
  
        transition: box-shadow 0.3s ease;
      }    
    }     
  }

  .form-content {
    border-radius: 16px;
    border: 1px solid #E1E4E7;
    background: #FFF;
    padding: 2.5rem 8.5rem;
    width: 100%;
    max-width: 1328px;
      .title-partner{
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        font-size: 1.5rem;
        border-bottom: 1px solid #E1E4E7;
        &:not(:first-child) {
          margin-top: 3rem;
        }
    }
    .check-box-div {
      width: 100%;
      background-color: #F0F2F3;
      border-radius: 8px;
      display: flex;
      align-items: center;
      color: #3E4852;
      padding: 1rem;
    }
    .MuiAccordion-root {
      padding: 0px;
      border-width: 0px;
      .MuiAccordionSummary-content {
        display: block;
        .htitle {
          color: #3E4852;
          font-size: 1rem;
          font-weight: 700;
        }
      }
      .MuiAccordionSummary-root {
        background-color: #F0F2F3;
      }
      .MuiAccordionDetails-root {
        background-color: #F8F9FA;
        .title-partner {
          font-size: 1rem;
          padding-bottom: 0.3rem;
        }
      }
    }
  }

.hr-title{
    margin-bottom: 25px;
    border-color: #C3C9CF;
}


.span-acordeon{
    font-size: x-small;
}
.div-vulnerability{
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-box {
  margin-left: 12px;
  margin-right: 7px;
}

.div-add{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-add{
  border-color: #0FB5AE;
  background-color: #0FB5AE;
  border-radius: 5px;
  margin: 20px;
  color: white;
  padding: 10px;
}

.checkBoxs-div{
  display: flex;
  align-items: center;
  margin: 20px 0px;
  font-size: 0.875rem;
  font-weight: 400;
  .label-checkbox{
    font-size: 0.875rem;
    font-weight: 400;
    width: 95px;
  }
}



.tableSortLabel{
  font-size: medium;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
 
}

.search-bar input[type="text"] {
  flex-grow: 1;
}

.search-bar i.fa {
  font-size: 1.25rem;
}

.gear-button{
  display: flex;
  border: none;
  background-color: rgb(208, 208, 208);
  border-radius: 8px;
  margin-right: 8px;
}

.input-search{
  border-radius: 5px !important;
  border-color:  rgb(208, 208, 208) !important;
}


.input-password {
  position: relative !important;
}
.eye-button {
  position: absolute !important;
  right: -5px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: none !important;
  background: none !important;
  margin: 0 !important;
}

.eye-button img {
  width: 20px;
  height: 20px;
}
