.container {
    background-color: white;
    padding: 20px;
    & > .container {
      width: 100%;
    }
  }
  
.form-container {
    background-color: white;
    width: 380px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    .check-box-selection{

      .check-box-selectio-label{
        margin-left: 7%;
        font-size: 12px;
        margin-bottom: 4px;    
      }
    }   

    h4 {
      text-align: center;
    }
    button {
      background-color: #0FB5AE;
      color: white;
      border: none;
      padding: 1rem 1.5rem 1rem 1rem;
      border-radius: 10px;
      font-size: 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      .button-image{

        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
      
    }
    .sing-in.disabled {
      background-color: #9FE1DF;
    }
  
    a {
      color: gray;
    }
    hr{
        margin: 23px 0px;
        border-color: #fbfdff;
    
    }
    .error-message{
      margin: -10px 0px 20px 7%;
      color: red;
      font-size: x-small;
    }
    .links {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem;
        a {
          font-size: 1rem;
          text-decoration-line: underline;
          color: #3892f3;
        }
    }   
  }

  .link{
    color: #3892F3 !important;
    text-decoration: underline !important;
  }

  

  

  