.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  
    .form-group {
      flex: 1;

      &.login{
        margin: 7px 7%;
      }
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &.half-width {
        flex: 0.5;
      }
  
      &.quarter-width {
        flex: 0.25;
      }
  
      label {
        font-size: x-small;
        color: #C3C9CF;
        font-family: 'Sora', sans-serif;
      }
  
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #C3C9CF;
        height: 38px;
        font-size: small;
        padding: 10px;

        
  
        &::placeholder {
          color: #C3C9CF;
          font-size: x-small;
        }
        //verificar por que en el focus no funciona
        &:focus{
            border-color: #2680EB !important;
            box-shadow: 
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3;
        }
        &:focus-visible {
          outline: none;
      }
        &:hover{
          border-color: #2680EB !important;
       }
    
      }

      .input-error {
        border-color: #ea3829 !important;
        box-shadow: 
          0 0 5px #ffcccb, 
          0 0 5px #f08080,
          0 0 5px #ffcccb,
          0 0 5px #f08080;
  
        transition: box-shadow 0.3s ease;
      }    
    }     
  }

.hr-title{
    margin-bottom: 25px;
    border-color: #C3C9CF;
}
.title-partner{
    margin-bottom: 10px;
}

.span-acordeon{
    font-size: x-small;
}
.div-vulnerability{
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-box-div {
  height: 43px;
  width: 100%;
  background-color: #e1e5e8;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.check-box {
  margin-left: 12px;
  margin-right: 7px;
}

.div-add{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-add{
  border-color: #0FB5AE;
  background-color: #0FB5AE;
  border-radius: 5px;
  margin: 20px;
  color: white;
  padding: 10px;
}

.checkBoxs-div{
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.label-checkbox{
  font-size: small;
  font-weight: bold;
}

.tableSortLabel{
  font-size: medium;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
 
}

.search-bar input[type="text"] {
  flex-grow: 1;
}

.search-bar i.fa {
  font-size: 1.25rem;
}

.gear-button{

  border: none;
  border-radius: 8px;
  background: #F0F2F3;  
  margin: 10px;
  padding: 3px;
}

.input-search{
  border-radius: 8px;
  border: 1px solid #A4AEB8;
  background: #FFF;
  color: #3E4852;
  font-family: Sora;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}


.input-password {
  position: relative !important;
}
.eye-button {
  position: absolute !important;
  right: -5px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: none !important;
  background: none !important;
  margin: 0 !important;
}

.eye-button img {
  width: 20px;
  height: 20px;
}

.text-auto{
  display: flex;
  align-items: center;
  gap: 3px;
}

@media (max-width: 1610px) {
  .text-auto {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
  }
}
@media (max-width: 1215px) {
  .text-auto {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 780px) {
  .text-auto {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }
}

.subtitulo {
  color: #a4aeb8;
  font-family: "Sora-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: fixed;
  top: 0;
  white-space: nowrap;
}

.box {
  height: 24px;
  width: 24px;
}



.frame {
  align-items: flex-start;
  background-color: #f0f2f3;
  border-radius: 8px;
  display: inline-flex;
  gap: 4px;
  padding: 8px 16px;
  position: relative;
}

.frame .text-wrapper {
  color: #3e4852;
  font-family: "Sora-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.label {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  width: 6vw;
  height: 4vh;
  padding: 4px 4px 4px 8px;
  border: 0px;
  border-radius: 8px;
  background: rgba(234, 56, 41, 0.20);
  cursor: pointer;
}
.label .textWrapper{
  color: #EA3829;
  font-family: Sora;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.searchText{
  width: 240px;
  height: 56px;
  border-radius: 8px;
  background: #FFF;
}
.firstRow{
  display: flex;
  align-items: center;
  width: 3vw;
}