
.container-checkbox{
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d4efff;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 5px;
    display: flex; 
    align-items: center;
   
}
    