.notification {
  & .MuiSnackbar-root {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    & .MuiAlert-filledError {
      background-color: #FBD7D4;
      color: #3E4852;
    }
  }
}
.section-style {
    &.cards {
      ul {
        li {
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
    }
    &.graph {
      ul {
        li {
          -ms-flex: 0 0 33%;
          flex: 0 0 33%;
          max-width: 33%;
        }
      }
    }
    ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      gap: 0;
      li {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 15px;
        & .card-div-container {
          height: 100%;
        }
      }
    }
  //}
}

.form-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
  
    .form-group {
      flex: 1;
  
      &:not(:last-child) {
        margin-right: 10px;
      }
  
      &.half-width {
        flex: 0.5;
      }
  
      &.quarter-width {
        flex: 0.25;
      }
  
      label {
        display: block;
        margin-bottom: 5px;
        font-size: 0.875rem;
        color: #C3C9CF;
        font-family: 'Sora', sans-serif;
      }
  
      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #C3C9CF;
        font-size: 1rem;
        padding: 1rem;
  
        &::placeholder {
          color: #A4AEB8;
          font-size: 1rem;
        }
        //verificar por que en el focus no funciona
        &:focus{
            border-color: #2680EB !important;
            box-shadow: 
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3,
              0 0 2px #3892f3;
        }
        &:focus-visible {
          outline: none;
      }
        &:hover{
          border-color: #2680EB !important;
       }
    
      }

      .input-error {
        border-color: #ea3829 !important;
        box-shadow: 
          0 0 5px #ffcccb, 
          0 0 5px #f08080,
          0 0 5px #ffcccb,
          0 0 5px #f08080;
  
        transition: box-shadow 0.3s ease;
      }    
    }     
  }

.hr-title{
    margin-bottom: 25px;
    border-color: #C3C9CF;
}
.title-partner{
    margin-bottom: 10px;
}

.span-acordeon{
    font-size: x-small;
}
.div-vulnerability{
  display: flex;
  align-items: center;
  gap: 10px;
}

.check-box-div {
  width: 100%;
  background-color: #F0F2F3;
  border-radius: 8px;
  color: #3E4852;
  display: flex;
  align-items: center;
}

.check-box {
  margin-left: 12px;
  margin-right: 7px;
}

.div-add{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-add{
  border-color: #0FB5AE;
  background-color: #0FB5AE;
  border-radius: 5px;
  margin: 20px;
  color: white;
  padding: 10px;
}

.checkBoxs-div{
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.label-checkbox{
  font-size: small;
  font-weight: bold;
}

.tableSortLabel{
  font-size: medium;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
 
}

.search-bar input[type="text"] {
  flex-grow: 1;
}

.search-bar i.fa {
  font-size: 1.25rem;
}

.gear-button{

  border: none;
  background-color: rgb(208, 208, 208);
  border-radius: 5px;
  margin: 10px;
}

.input-search{
  border-radius: 5px !important;
  border-color:  rgb(208, 208, 208) !important;
}


.input-password {
  position: relative !important;
}
.eye-button {
  position: absolute !important;
  right: -5px;
  top: 50% !important;
  transform: translateY(-50%) !important;
  border: none !important;
  background: none !important;
  margin: 0 !important;
}

.eye-button img {
  width: 20px;
  height: 20px;
}
