.container-onboarding {
  background: #ffffff;
  border: 1px solid #e1e4e7;
  border-radius: 16px;
  display: flex;
  padding: 2% 3%;
  width: 784px;
  // @media only screen and (max-width: 55em) {
  //   & {
  //     display: flex;
  //     flex-direction: column;
  //     .container-general-overview {
  //       margin: 0;
  //       div {
  //         padding-left: 0;
  //       }
  //     }
  //     ul {
  //       padding-right: 0;
  //       .resources {
  //         div {
  //           p {
  //             font-size: 12px;
  //             line-height: 10px;
  //           }
  //         }
  //         p {
  //           font-style: normal;
  //           font-weight: 800;
  //           font-size: 20px;
  //           font-feature-settings: "tnum" on, "lnum" on;
  //           color: #3e4852;
  //         }
  //         a {
  //           font-weight: 400;
  //           font-size: 12px;
  //           line-height: 10px;
  //           text-decoration-line: underline;
  //           font-feature-settings: "tnum" on, "lnum" on;
  //           color: #3892f3;
  //         }
  //       }
  //     }
  //   }
  // }

  .MuiTextField-root {
    width: 100%;
  }
  
  div {
    p {
      color: #3E4852;
      font-family: Sora;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
    }
  }
}
