
.label-password-requirements{
  font-size: x-small;
  margin: 0 7%;
}
.checkmark {
  color: rgb(113, 177, 113);
  font-weight: bold;
  margin-right: 5px;
}

ul {
  margin-bottom: 30px;
  margin-top: 4px;
  margin-left: 7%;

  .checkVector{
    margin-right: 10px;
    height: 7px;
  }
  
  .password-list {
      
    font-size: x-small;
    color: grey;
    margin: 6px 15px;
    display: flex;

  }
  .password-list.invalid {
      color: rgb(195, 201, 207);
  }


  
}

  
