
label{
    font-size: x-small;
}
.checkmark {
    color: rgb(113, 177, 113);
    font-weight: bold;
    margin-right: 5px;
  }

  ul {
    margin-bottom: 30px;
    margin-top: 4px;
    li {
        
        font-size: x-small;
        color: #C3C9CF;
        margin: 4px 15px;
      }
    
  }
